.cameraFrame,
.webcamFrame {
  display: block;
  width: 100%;
  min-width: 1089px;
  max-width: 1280px;
  min-height: 612px;
  height: auto;
}

.detectionOverlay {
  position: absolute;
  top: 0;
  left: 13px;
}

.detectionTest .webcamFrame,
.detectionTest .cameraFrame {
  max-width: 985px;
}
